.footer-content {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 4rem;
	background-color: var(--color-background-shade-lighter);
}

.footer-container {
	margin: 0 auto;
	padding: 0 1.5rem 2rem;
	max-width: content-max-width;
}


.contact-info-wrapper {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-links {
	gap: 0.75rem;
	display: flex;
}


.footer-contact {
	color: var(--color-primary);
	width: 100%;
	border: 1px solid var(--color-background-shade-darker);
	height: 44px;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	border-radius: 9999px;
	justify-content: center;
	text-decoration: none;
	background-color: var(--color-background);
	padding-left:8px;
	padding-right:8px;
}

.footer-contact:hover {
	color: var(--color-border);
	box-shadow: 0 4px 12px color-mix(in srgb, var(--color-primary) 30%, transparent);
	transform: translateY(-4px);
	background-color: var(--color-primary);
}

.footer-contact-nohover {
	color: var(--color-primary);
	width: 100%;
	border: 1px solid var(--color-background-shade-darker);
	height: 44px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	padding-left: 8px;
	border-radius: 9999px;
	padding-right: 8px;
	background-color: var(--color-background);
}


.footer-bottom-divider {
	width: 100%;
	height: 1px;
	margin-bottom: 1.5rem;
	background-color: var(--color-background-shade);
}

.footer-bottom-info {
	gap: 1.5rem;
	display: flex;
}


.footer-bottom-content {
	gap: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.footer-bottom-links {
	color: var(--color-secondary);
	width: fit-content;
	font-size: font-size-base;
	transition: color 0.2s ease;
	text-decoration: none;
}

.footer-bottom-links:hover {
	color: var(--color-primary);
}


@media (width <= 767px) {
	.footer-content {
		padding-top: 3rem;
	}
	.contact-info-wrapper {
		gap: 12px;
	}
	.footer-bottom-links {
		justify-content: center;
	}
	.info-right {
		margin-left: 0px;
	}
	.footer-bottom-content {
		text-align: center;
		flex-direction: column;
	}
}

@media (width <= 479px) {
	.footer-container {
		padding: 0 1rem 1.5rem
	}
	.contact-info-wrapper {
		display: grid;
		grid-row-gap: 12px;
	}
	.info-left {
		flex-wrap: wrap;
		margin-right: 0px;
	}
	.info-right {
		flex-wrap: wrap;
	}
}