.landing-content {
	display: flex;
	align-items: center;
	background-color: var(--color-background);
}

.landing-text {
	flex: 1;
	z-index: 3;
	display: flex;
	padding: 4rem 4rem 4rem 8%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-background);

}

.landing-contact-nohover {
	color: var(--color-primary);
	width: 100%;
	border: 1px solid var(--color-background-shade-darker);
	height: 44px;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	border-radius: 9999px;
	justify-content: center;
	text-decoration: none;
	background-color: var(--color-background);
	padding-left:8px;
	padding-right:8px;
}


.landing-title {
	font-size: clamp(3rem, 2.6rem + 2.4vw, 4.2rem);
	font-style: normal;
	font-family: "Red Hat Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.02em;
	text-transform: none;
}

.landing-subtitle {
	opacity: 0.85;
	font-size: clamp(1.125rem, 1rem + 0.8vw, 1.35rem);
	font-style: italic;
	font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	font-weight: 400;
	line-height: 1.6;
}


.landing-image-vertical {
	display: block;
	object-fit: cover;
	width: 500px;
	height: 500px;
	object-position: 50% 40%;
	margin: 4rem 4rem 4rem 0;
}

.landing-image-wide {
	display: none;
	object-fit: cover;
	
	object-position: 0% -20%;
	width: 100%;
	aspect-ratio: 5 / 2;
}

@media (width <= 991px) {
	.landing-content {
		flex-direction: column;
	}

	.landing-text {
		padding: 4rem 1.5rem;
		text-align: center;
		align-items: center;
	}

	.landing-image-vertical {
		display: none;
	}

	.landing-image-wide {
		display: block;
	}
}