.landing-content {
	display: flex;
}

.landing-text {
	flex: 1;
	z-index: 3;
	display: flex;
	padding: 4rem 4rem 4rem 8%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-background);

}


.landing-title {
	font-size: clamp(3rem, 2.6rem + 2.4vw, 4.2rem);
	font-style: normal;
	font-family: "Red Hat Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.02em;
	text-transform: none;
}

.landing-subtitle {
	opacity: 0.85;
	font-size: clamp(1.125rem, 1rem + 0.8vw, 1.35rem);
	font-style: italic;
	font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	font-weight: 400;
	line-height: 1.6;
}


.landing-image-wrapper {
	flex: 1.2;
	z-index: 2;
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
	position: relative;
	margin-left: -10%;
	overflow: hidden;
}

.landing-image {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 5/2;
	object-position: 50% -20%;
	display: block;
}

.landing-image-wide {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	object-position: 50% -20%;
	display: none;
}

@media (width <= 991px) {
	.landing-content {
		flex-direction: column;
	}

	.landing-text {
		padding: 4rem 1.5rem;
		text-align: center;
		align-items: center;
	}

	.landing-image-wrapper {
		flex: none;
		height: auto;
		clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
		margin-top: -5%;
		margin-left: 0;
	}

	.landing-image {
		display: none;
	}

	.landing-image-wide {
		display: block;
	}
}